header{

    font-family: $DM-Sans;
    position: absolute;
    width: 100%;
    
    
    .header-top{
        padding: 15px 0px;
        width: 100%;
        transition: 0.3s;

        .question{
           
            
            p{
                @extend .font-md;
                color: $grey;
            }
        }

        .header-contact{
            display: flex;
            column-gap: 25px;

            i{
                color: $color-red;
                margin-right: 16px;
            }
            a{
                font-weight: 500;
    
            }
        }
    }

    .after-scroll{
        background-color: white;
        position: fixed;
        top: 0px;
        box-shadow: 0px 7px 18px #1810100d;
        z-index: 1000;

       
    }

    .main-header{
        padding: 36px 0px;
        width: 100%;

        ul{
           display: flex;

           li{
                margin-right: 36px;
                font-weight: 500;
                color: $grey;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    height: 3px;
                    background-color: $color-red;
                    transition: width 0.3s;
                }
                &:hover{
                    color: $color-red;
                }

                &:hover:after{
                    width: 100%;
                }
            }
        }
    }
}

