.choose-us{
    font-family:$DM-Sans;


    .why-choose-us{
        margin: auto;

        .pentagon-why{
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        

    }
}