@use "sass:math";

.container {
  width: 100%;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
} 

@media (min-width: 350px) {
  .container {
    width: 100%;

  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    // padding-right: 10px;
    // padding-left: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


$grid: 12;

$breakpoints: (
  xs: 350px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@each $breakpoint, $width in $breakpoints {
  @media (min-width: $width) {
    @for $i from 1 through 12 {
      $divided: math.div($grid, $i);

      $spacing: math.div(12px * $divided, $divided - 1);

      .col-#{$breakpoint}-#{$i} {
        width: calc(100% / #{$divided} - 12px);
      }

      .column-gap-#{math.floor($divided)} {
        column-gap: $spacing;
      }
    }
  }
}

// row-gap

$base: 5px;

@for $i from 1 through 5 {
  .row-gap-#{$i} {
    row-gap: $base * $i;
  }
}



.d-flex{
  display: flex;
}
.jus-con-cen{
  justify-content: center;
}
.al-ite-cen{
  align-items: center;
}
.jus-con-bet{
  justify-content: space-between;
}
.jus-con-end{
  justify-content: flex-end;
}
.flex-direc-col{
  flex-direction: column;
}
.flex-direc-row{
  flex-direction: row;
}

.text-center{
  text-align: center;
}



